#root {
  --background-color: #212121;
  --primary-color: #c38fff;
  --secondary-color: #03dac6;
  --secondary-ascent: #02564E;


  --button-off-color: #292929;
  --button-highlight-color: #313131;
  
  --button-border-color: #353535;

  --led-off-color: #2e2e2e;

  --success-color: #dff0d8;
  --info-color: #d9edf7;
  --warning-color: #fcf8e3;
  --danger-color: #f2dede;
}

body {
  /* PATTERN BACKGROUND */
  background-image: linear-gradient(45deg, rgba(187, 187, 187,0.04) 0%, rgba(187, 187, 187,0.04) 50%,rgba(86, 86, 86,0.04) 50%, rgba(86, 86, 86,0.04) 100%),linear-gradient(135deg, rgba(166, 166, 166,0.04) 0%, rgba(166, 166, 166,0.04) 50%,rgba(92, 92, 92,0.04) 50%, rgba(92, 92, 92,0.04) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); background-size: 142px 142px;
}
